<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hot电影列表</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-group" style="margin-top: 30px">
                <% movies.forEach(function (movie) { %>
                    <li class="list-group-item"><a href="<%= movie.url %>"><%= movie.name %></a></li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
</body>
</html>